<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
</head>
<body>
    <h2>Menu Items</h2>
 
<form action="/api/home/menu" method="POST" id="menuItemForm">
  <input type="hidden" name="menuItemId" id="menuItemId">
  <input type="text" name="name" placeholder="Dish Name" id="menuItemName" required>
  <input type="text" name="description" placeholder="Description" id="menuItemDescription" required>
  <input type="number" name="price" placeholder="Price" id="menuItemPrice" required>
  <select name="availability" required id="menuItemAvailability">
    <option value="" hidden>-- Select Availability --</option>
    <option value="Available">Available</option>
    <option value="Not Available">Not Available</option>
  </select>
  <button type="submit" id="submitBtn">Add Dish</button>
</form>

<button onclick="goHome()">Back to Home-> </button>
<hr>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Availability</th>
        <th>Update Item</th>
        <th>Delete Item</th>
      </tr>
    </thead>
    <tbody>
      <% menuItems.forEach(menuItem => { %>
        <tr>
          <td><%= menuItem.name %></td>
          <td><%= menuItem.description %></td>
          <td><%= menuItem.price %></td>
          <td><%= menuItem.availability %></td>
          <td><button onclick="editItem('<%= menuItem._id %>','<%= menuItem.name %>', '<%= menuItem.description %>', '<%= menuItem.price %>', '<%= menuItem.availability %>')" > Update </button></td>
          <td><button onclick="deleteItem('<%= menuItem._id %>')"> Delete </button></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

</body> 
<script>
const editItem = async (id, name, description, price, availability ) =>{

  const menuItemForm = document.getElementById("menuItemForm")
  document.getElementById("menuItemId").value = id;
  document.getElementById("menuItemName").value = name;
  document.getElementById("menuItemDescription").value = description;
  document.getElementById("menuItemPrice").value = price;
  document.getElementById("menuItemAvailability").value = availability;
  
  document.getElementById("submitBtn").innerText = "Update";

  menuItemForm.onsubmit = async (e) =>{
    e.preventDefault()
    try {
    const response = await fetch(`/api/home/menu/${id}`,{
    method: "PATCH",
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        name: document.getElementById("menuItemName").value,
        description:document.getElementById("menuItemDescription").value,
        price:document.getElementById("menuItemPrice").value,
        availability: document.getElementById("menuItemAvailability").value
    })

}) 
    window.location.reload()
} catch (error) {

    console.log('Update Menu Item Error: ', error);
    
}
  }

}


const deleteItem = async (id) =>{

    try {
    const response = await fetch(`/api/home/menu/${id}`,{
        method: "DELETE"
    }) 
    window.location.reload()
        
    } catch (error) {

        console.log('Delete Menu Item Error: ', error);
        
    }

}

const goHome = ()=>{

  try {
    
    window.location.replace("/api/home")
  } catch (error) {
    console.log(error);
    
  }
}
</script>
</html>