<!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
  <link href="https://cdn.tailwindcss.com" rel="stylesheet">

</head>
<body>
  <h1>All Orders</h1>

<table style="border:1px solid #ccc; margin:10px; padding:10px;" border="1" cellpadding="8" cellspacing="0">
  <thead>
<tr>
  <th>Table</th>
  <th>Total</th>
  <th>Status</th>
  <th>Items</th>
  <th>Actions</th>

</tr>
  </thead>

<tbody>
  <% orders.forEach(order => { %>
<tr>
<td> <%= order.tableNumber %></td>
<td> <%= order.status %></td>
<td> <%= order.totalAmount %></td>
<td>
  <% order.items.forEach(i => { %>
    <label><%= i.menuItemId.name %> (x<%= i.quantity %>)</label><br>
  <% }) %>
  </td>

  <td>

    <% if (order.status === "pending") { %>
      <form action="/api/home/orders/cancel/<%= order._id %>" method="POST">
        <button type="submit">Cancel Order</button>
      </form>
      <% } %>

      <% if (order.status === "pending") { %>
        <form action="/api/home/orders/serve/<%= order._id %>" method="POST">
          <button type="submit">Mark as Served</button>
        </form>
      <% } %>

      <% if (order.status === "served") { %>
        <form action="/api/home/orders/complete/<%= order._id %>" method="POST">
          <button type="submit">Complete Order</button>
        </form>
      <% } %>
  </td>


</tr>
<% }) %>
</tbody>
</table>

</body>
</html>
